*{ 
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

/* typography */

.section-one-h1, .section-two-h1{
    font-size: 40px;
    line-height: 48px;
}

.section-one-h1{
    margin: 20px 0px 35px 0px;

}
.section-two-h1{
    margin: 40px 0px 10px 0px;
    text-align: center;
}
p{
    margin: 0.5rem 0rem 1.875rem 0rem;
}
a{
    text-decoration: none;
    color: #262626;
    margin-bottom: 3rem;
}

/* header 1 */

#skype-logo1{
    width: 63px;
    height: 63px;
}
.installSkype-a{
    color: #0E78C8;
}
.header-container1{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    line-height: 18.75px;
    margin: 1.3rem 0rem;
}

/* header 2 */

.link-container{
  display: flex;
  gap: 2rem;
  margin: 0px 0px 35px 7.5%;

}
.microsoft-logo1{
    margin-top: -0.3rem; 
}
.splitter{
    font-size: 40px;
    font-weight: normal;
}
.link1{
    line-height: 1rem;
    color: #262626;
}
.link2-container{
    margin-left: 36%;
}
.link2{
    position:relative;
    line-height: 1rem;
    color: #262626;
}
.down-arrow{
    margin: 0 auto;
    position: absolute;
    left: 1703px;
    bottom: 780px;
}
.skype-link{
    font-size: 1.5rem;
}
.header-2-link-effect:hover{
    text-decoration: underline #262626;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
/* section 1 (Support Ukraine) */

.section-one{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 0px 20px 20px 20px;
    padding: 30px 30px;
    max-width: 80%;
    margin: 0 auto;
}
.section-one-text{
    margin-right: 3rem;
}
.skype-credit-link{ 
    color: #0E78C8;
    text-decoration: underline;
}
.skype-credit-link:hover{ 
    color: #262626;
    text-decoration: underline;
}
.donate-btn{
    margin: 0px 0px 30px 30px;
    display: inline-block;
    background-color: #0E78C8;
    padding: 20px 40px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
}
.free-calls{
    margin-left: 50px;
    color: #0E78C8;
    text-decoration: underline;
}
.section-one-bottom{
    margin-top: 30px;
}
.sectionOne-img{
    padding-top: 100px;
    min-width: 900px;
}

/* section 2 (Discover more from Skype) */

.section-two{
    text-align: start;
    margin-left: 7%;
    border-spacing: 2rem;
}
.discover-boxes{
    position: relative;
    display: table-cell;
    border-radius: 0px 20px 0px 0px;
    border-left: 1px solid #E5E4E8;
    border-top: 1px solid #E5E4E8;
    border-right: 1px solid #E5E4E8;
}
.discover-img{
    min-width: 400px;
}
.discover-boxes-text{   
    padding: 20px 20px;
    margin: 0 auto;
}

.discover-section-links{
    position: absolute;
    top: 500px;
    right: 250px;
    color:#0E78C8;
}
.discover-section-links:hover{
    color:#262626;
    text-decoration: underline;
}

/* Page Demo */

.demo-body{
    background-color: #262626;
    margin: 0 auto;
    width: fit-content;
}
.demo-h2 {
    display: block;
    margin: 50px 0 0 0;
    color: whitesmoke;
    max-width: 600px;
    text-align: center;
}
.demo-link {
    color:#0E78C8
}
.demo-link:hover{
    text-decoration: underline;
    color: orange;
}