*{ 
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

/* typography */

.section-one-h1, .section-two-h1{
    font-size: 40px;
    line-height: 48px;
}

.section-one-h1{
    margin: 1.25em 0em 2.1875em 0em;

}
.section-two-h1{
    margin: 1.25em 0em 0.625em 0em;
    text-align: center;
}
p{
    margin: 0.5em 0em 1.875em 0em;
}
a{
    text-decoration: none;
    color: #262626;
    margin-bottom: 3em;
}

/* header 1 */

#skype-logo1{
    width: 63px;
    height: 63px;
}
.installSkype-a{
    color: #0E78C8;
}
.header-container1{
    display: flex;
    justify-content: center;
    gap: 0.75em;
    line-height: 18.75px;
    margin: 1.3em 0rem;
}

/* header 2 */

.main-link-container {
    margin: 1.5em auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.link1-container{
    display: flex;
    gap: 1.5em

}
.link2-container{
    display: flex;
    white-space: nowrap;
}
.microsoft-logo1{
    margin-top: -0.3em; 
}
.splitter{
    padding: 0 0.2em;
    font-size: 40px;
    font-weight: 400;
}
.link1{
    line-height: 1rem;
    color: #262626;
}
.link2{
    line-height: 1rem;
    color: #262626;
    margin-left: 1.5em;
}
.down-arrow {
    padding-bottom: 0.2em;
    padding-left: 0.2em;
}
.skype-link{
    font-size: 1.5rem;
}
.header-2-link-effect:hover{
    text-decoration: underline #262626;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
/* section 1 (Support Ukraine) */

.section-one{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 0px 20px 20px 20px;
    padding: 1.875em 2.875em;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.section-one-text{
    max-width: 30em;
    margin-right: 3em;
}
.skype-credit-link{ 
    color: #0E78C8;
    text-decoration: underline;
}
.skype-credit-link:hover{ 
    color: #262626;
    text-decoration: underline;
}
.donate-btn{
    margin: 0em 0em 1.875em 1.875em;
    display: inline-block;
    background-color: #0E78C8;
    padding: 1.25em 2.5em;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
}
.free-calls{
    margin-left: 3.125em;
    color: #0E78C8;
    text-decoration: underline;
}
.section-one-bottom{
    margin-top: 1.875em;
}
.sectionOne-img{
    padding: 12em 0em;
    max-width: 56.25em;
}

/* section 2 (Discover more from Skype) */

.section-two{
    text-align: start;
    margin-left: 7%;
    border-spacing: 2rem;
}
.discover-boxes{
    position: relative;
    display: table-cell;
    border-radius: 0px 20px 0px 0px;
    border-left: 1px solid #E5E4E8;
    border-top: 1px solid #E5E4E8;
    border-right: 1px solid #E5E4E8;
}
.discover-img{
    max-width: 25em;
}
.discover-boxes-text{   
    padding: 20px 20px;
    margin: 0 auto;
}

.discover-section-links{
    position: absolute;
    white-space: nowrap;
    top: 500px;
    right: 190px;
    color:#0E78C8;
}
.discover-section-links:hover{
    color:#262626;
    text-decoration: underline;
}

/* Page Demo */

.demo-body{
    background-color: #262626;
    margin: 0 auto;
    width: fit-content;
}
.demo-h2 {
    display: block;
    margin: 50px 0 0 0;
    color: whitesmoke;
    max-width: 600px;
    text-align: center;
}
.demo-link {
    color:#0E78C8
}
.demo-link:hover{
    text-decoration: underline;
    color: orange;
}